
<div class="footerContainer">

<img
class="footer_img" 
src="/img/footer.jpg"
/>

<div class="grid wide">
<div class="row">
    <div class="col l-4 m-6 c-12">
        <img 
        class="fitem-logo"
        src="/img/logo.png">
    </div>
    <div class="col l-8 m-6 c-12">
        <div class="fitem-text">
            <h2>Liên hệ</h2>
            <p><i class="ti-car"></i><b>: </b>2/5B Lý Thường Kiệt, Q.11, HCM</p>
            <p><i class="ti-email"></i><b>: </b>teemoly1212@gmail.com</p>
            <p><i class="ti-mobile"></i><b>: </b>0361111111</p>
        </div>
    </div>
</div>
</div>
</div>
