<div class="header-container " id="header-container">
    <div class="menu">
        <i class="ti-menu"></i>
    </div>
    <div class="logo">
        <img class="logo-image" 
            id="logo-image"
            src="/img/logo.png" 
            alt="TravelVietNam">
    </div>
    <ul  class="navbar">
        <li><a href="/"><b>TRANG CHỦ</b></a></li>
        <li><a href="/"><b>KHÁCH SẠN</b></a></li>
        <li><a href="/"><b>DỊCH VỤ</b></a></li>
        <li><a href="/"><b>TIN TỨC</b></a></li>
        <li><a href="/"><b>LIÊN HỆ</b></a></li>
    </ul>
    <div class="search">
        <i class="ti-search"></i>
    </div>
</div>

