<div class="header-container" id="Hcontainer">
    <div class="menu" id="menu-text">
        <i class="ti-menu"></i>
    </div>
    <div style="margin: -13px 105px;">
        <img id="logo-image" 
            width="180px" 
            height="110px" 
            src="/img/logo.png" 
            alt="TravelVietNam">
    </div>
     <ul class="header" id="header">
        <li class="header-item"><b>TRANG CHỦ</b></li>
        <li class="header-item"><b>KHÁCH SẠN</b></li>
        <li class="header-item"><b>DỊCH VỤ</b></li>
        <li class="header-item"><b>BLOG</b></li>
        <li class="header-item"><b>LIÊN HỆ</b></li>
    </ul>
     <div class="seach" id="seach-text">
        <i class="ti-search"></i>
    </div>
<div class="login">
<p id="login-text" class="login-text">Login/Signin</p>
</div>
</div>


